.loader-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
}

.password-form {
  min-height: 100hv;
  min-width: 200hv;
  height: 400px;
  width: 30%;
  margin: 0 auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  margin-bottom: 2%;

  background-color: lightslategrey;

  /* width: 30%;
  min-height: 100hv;
  min-width: 200hv;


  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: #fff; */
}

.password-form h1 {
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  background-color: #1e2832;
}
.passwordTextField {
  width: 100%;
  margin-top: 15%;
}

.updateButton {
  background-color: #242f3f;
  border-radius: 10%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 30px 130px;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
.resetForm-container {
  background-size: auto;
  position: relative;
  opacity: 1;
  /* background-color: #34495e; */
  /* top: -50px; */
}
.resetForm-header {
  text-align: center;
  font-size: 40px;
  color: rgb(22, 2, 2);
  margin-top: 0;
  font-weight: 200;
}
.border {
  width: 100px;
  height: 10px;
  background: #34495e;
  padding: 0;
  margin: 40px auto;
}
.resetForm {
  width: 85%;

  max-width: 600px;
  margin: auto;
  padding: 30px 40px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);

  top: 100px;
  left: 50%;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "montserrat", sans-serif;
}
.resetForm-field {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
