@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,200,300,900);
/* body {
  
  background-image: url('../../Images/about.jpg');
  background-size: cover;
  width: 100%; height: 100%; 
  
  /* background: linear-gradient(135deg, #0e7fef 0%, #00a7c9 44%, #00d3a2 100%), linear-gradient(45deg, #f20e6d 0%, rgba(242, 14, 109, 0.93) 7%, rgba(0, 211, 162, 0) 100%); */
 /* }     */

#wrapper{
  background-image: url('../../Images/about.jpg');
  background-size: cover;
  width: 100%; height: 100%; 
}
.prof{
  background-image: url('../../Images/about.jpg');
  background-size: cover;
  width: 100%; height: 100%; 
}

#file-input{
  opacity: 0;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
}

a {
  /* background-image: url('../../Images/about.jpg'); */
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.35s ease-in-out;
}
a:hover {
  color: #ffffff;
}
.background{
  background-image: url('../../Images/about.jpg');
  background-size: cover;
  width: 100%; height: 100%;
}
.whole22{
  
  background-image: url('../../Images/about.jpg');
  top:0;
  left:0;
  bottom: 0;
  right:0;
  margin-bottom: 100%;
  background-size: cover;
  width: 100%; height: 100%;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  .card {
    width: 0rem;
    height: 70%
  }
}
.card .panel {
  transition: all 0.35s ease-in-out;
  /* padding: 1.5rem 2rem;  */
  padding-left: 1rem;
  padding-right: 1rem;
 position: absolute;
 /* background-image: url('../../Images/about.jpg'); */
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
.card .meta {
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  position: relative;
  text-align: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding: 2rem 4rem;
  border-right: 1px solid transparent;
}
.card .meta picture {
  position: relative;
  display: inline-block;
}
.card .meta img {
  -o-object-fit: cover;
     object-fit: cover;
}
.card .meta .avatar {
  border-radius: 70%;
}
.card .meta .company-logo {
  position: absolute;
  bottom: -0.5rem;
  right: 0;
}
.card .meta .name {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 300;
}
.card .meta .title {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0 0;
}
@media only screen and (min-width: 768px) {
  
  .card .info {
   
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
  }
}
.card .info dt {
  margin: 0;
  padding: 1rem 0;
}
.card .info dt:first-child {
  padding-top: 0;
}
.card .info dt:after {
  width: 100%;
  background-color: #e0e0e0;
  height: 0.5rem;
  content: "";
  display: block;
}
.card .info dd {
  width: 100%;
  height: 0.5rem;
  position: relative;
  right: 0;
  margin: -1.5rem 0 0;
  /* background-color: nth($colors, 1); */
  overflow: hidden;
  text-indent: -1000px;
}
.text{
  text-align: center;
  color:maroon;
  margin-bottom: 0%;
  /* color: #A137E7 */
}
/* .card .info dd:nth-child(2) {
  background-color: #E89B35;
}
.card .info dd:nth-child(4) {
  background-color: #36CBE9;
} */
.card .info dd {
  background-color: maroon
  /* background-color: #A137E7; */
}
/* .card .info dd:nth-child(8) {
  background-color: #E83568;
} */
.card .social {
  list-style: none;
  margin: 0;
  text-align: center;
}
.card .social li {
  display: inline-block;
}
.card .social li a {
  display: block;
  overflow: hidden;
  text-indent: -1000px;
  height: 1em;
  font-size: 1.8rem;
  padding: 0.1em;
  margin: 0 0.1em;
}
.card .social li a:before {
  display: block;
  text-indent: 0;
  font-size: 1em;
}
@media only screen and (min-width: 768px) {
  .card:hover .meta {
    -webkit-transform: translateX(-69.5%);
            transform: translateX(-69.5%);
    border-color: maroon;
  }
  .card:hover .info {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    width: 150%;
  }
}


/* .profile7{
    text-align: center;
}
.profilePage7{
    text-align: center;
}
.profilepic7{
    width: 200px;
    margin-top: 3%;
}
.nadin{
    text-align:center;
}
.Name{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 40px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color:black;
    text-align: center;
}
.Email{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 40px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color:black;
    text-align: center;
}
.BD{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 40px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color:black;
    text-align: center;
}
.B{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 40px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color:black;
    text-align: center;
}
.C{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 40px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color:black;
    text-align: center;
}
.T{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 40px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color:black;
    text-align: center;
} */
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0057 {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  position: absolute;
  left: 80px;
  top:60px;
  overflow: hidden;
  margin: 20px;
  min-width: 580px;
  max-width: 1200px;
  width: 100%;
  height: 85%;
  background: #ffffff;
  color: #000000;
}
figure.snip0057 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.snip0057 .image {
    width: 35%;
    height: 45%;
    overflow: hidden;
    /* z-index: 1; */
    /* -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg); */
  /* } */
  /* figure.snip0057 .image img {
    position: top;
    display: block;
    left: -15%;
    z-index: 1; */
    /* -webkit-transform:  ;
    transform: skew(15deg); */
  /* } */
  /* figure.snip0057:before {
    position: absolute;
    content: ''; */
    /* height: 100%;
    width: 45%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transform: skewX(-17deg);
    transform: skewX(-19deg);
    -webkit-box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7); */
  /* }
  figure.snip0057 figcaption {
    padding: 10px 20px 10px 10px;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 20%;
  }
  figure.snip0057 figcaption h2,
  figure.snip0057 figcaption p {
    margin: 0;
    text-align: right;
    padding: 10px 0;
    width: 100%;
  }
  figure.snip0057 figcaption h2 {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  figure.snip0057 figcaption h2 span {
    font-weight: 800;
  }
  figure.snip0057 figcaption p {
    font-size: 0.9em;
    opacity: 0.8;
  }
  figure.snip0057 figcaption .icons {
    width: 100%;
    text-align: right;
  }
  figure.snip0057 figcaption .icons i {
    font-size: 26px;
    padding: 5px;
    top: 50%;
    color: #000000;
    opacity: 0;
  }
  figure.snip0057 figcaption a {
    opacity: 0.3;
  }
  figure.snip0057 figcaption a:hover {
    opacity: 0.8;
  }
  figure.snip0057 .position {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 15px 30px;
    font-size: 0.9em;
    opacity: 1;
    font-style: italic;
    color: #ffffff;
    background: #000000;
  }
  figure.snip0057.blue .position {
    background: #20638f;
  }
  figure.snip0057.red .position {
    background: #962d22;
  }
  figure.snip0057.yellow .position {
    background: #bf6516;
  }
  figure.snip0057:hover figcaption,
  figure.snip0057.hover figcaption {
    bottom: 40px;
  }
  figure.snip0057:hover .icons i,
  figure.snip0057.hover .icons i {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  figure.snip0057:hover:before,
  figure.snip0057.hover:before {
    -webkit-animation: shadow 0.6s ease-in-out;
    animation: shadow 0.6s ease-in-out;
  }
  .image-upload > input
  {
      display: none;
  }
  @-webkit-keyframes shadow {
   
  }
  @keyframes shadow {
    
  } */
  
   